.container {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
  background-color: #f2f5f8;
  transition: background 0.3s;
  overflow: hidden;
}

.cardGroup {
  transform-style: preserve-3d;
}

$card-width: 350px;
$card-height: 500px;
.card {
  border-radius: 4px;
  padding: 10px;
  box-shadow: rgba($color: #000000, $alpha: 0.1) 0 0 10px;
  background-color: #ffffff;

  position: absolute;

  display: flex;

  backface-visibility: hidden;
  box-sizing: border-box;
  overflow: hidden;
}

.personCard {
  width: $card-width;
  height: $card-height;
  left: calc(50% - #{$card-width} / 2);
  top: calc(50% - #{$card-height} / 2);

  animation: bounceInDown 1 0.8s;

  > section {
    &.info {
      margin-right: 25px;

      .logo {
        display: block;
        width: max-content;
        height: max-content;
        padding: 5px;
        border-radius: 50%;
        background-color: #f0f0f0;
      }

      > .onlyId {
        font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

        position: absolute;
        bottom: 0;
        transform-origin: 0 0;
        transform: rotate(-90deg);
        color: #cdcdcd;
        font-weight: 400;

        margin: 0;
      }
    }

    &.image {
      width: 100%;
      height: 100%;
      background-color: #f0f0f0;

      > img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 2px;
      }
    }
  }

  @keyframes bounceInDown {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: translate3d(0, -3000px, 0);
    }
    60% {
      opacity: 1;
      transform: translate3d(0, 25px, 0);
    }
    75% {
      transform: translate3d(0, -10px, 0);
    }
    90% {
      transform: translate3d(0, 5px, 0);
    }
    to {
      transform: none;
    }
  }
}

.workCard {
  width: $card-height;
  height: $card-width;
  left: calc(50% - #{$card-height} / 2);
  top: calc(50% - #{$card-width} / 2);

  flex-flow: column;
  align-items: center;
  justify-content: center;
}
